@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Poiret+One&display=swap');

:root {
    --primary-color: #d81e5b;
    --secondary-color: #00f6ed;
    --accent1: #d3c4d1;
    --accent2: #c9b7ad;
    --dark-color: #3A3335;
    --light-color: white;

    --heading-font: 'Poiret One', 'Courier New', monospace;
    --paragraph-font: 'Open Sans Condensed', Helvetica, sans-serif;
}

body {
    background-color: var(--accent1);
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--secondary-color);
}

footer {
    background-color: var(--accent2);
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 {
    color: var(--dark-color);
}

footer h3:hover {
    text-decoration: underline;
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
}

footer a:hover {
    color: var(--primary-color);
}

footer .social img {
    padding-top: 15px;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

h2 {
    margin: 0;
}

.home-title {
    color: var(--primary-color);
    font-size: 2em;
    margin-top: 10px;
}

.logo {
    width: 80px;
    margin: 5px;
}

#logo_link {
    padding-top: 5px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    background-color: var(--accent2);
    color: var(--light-color);
    text-decoration: none;
    text-align: center;
    padding: 35px;
}

nav a:hover {
    background-color: var(--accent1);
    color: var(--dark-color);
}

h4 {
    color: var(--primary-color);
}

.book, .join {
    text-decoration: none;
    background-color: var(--accent2);
    color: var(--light-color);
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: var(--accent1);
    color: var(--dark-color);
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid var(--dark-color);
}

#background {
    height: 725px;
    background-color: var(--primary-color);
}

.msg {
    background-color: var(--secondary-color);
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: var(--primary-color);
}

.msg p {
    color: var(--dark-color);
    font-size: .8em;
    padding-bottom: 15px;
}
