:root {
    --primary-color: #ACCBE1;
    --secondary-color: #7C98B3;
    --accent1-color: #637081;
    --accent2-color: #CEE5F2;
  
    --heading-font: 'Cinzel', serif;
    --paragraph-font: 'Raleway', Helvetica, sans-serif;
}


h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    margin: 0;
    font-size: 1em;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.logo {
    float: left;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: var(--accent2-color);
    text-decoration: none;
    text-align: center;
    padding: 30px;
    width: 100%;
}

nav a:hover {
    background-color: var(--primary-color);
    color: white;
}

#hero {
    background-color: var(--accent1-color);
}

#page-name {
    color: var(--accent2-color);
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

#hero div {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
}

#hero img {
    width: 100%;

    grid-area: 1/1/4/-1;
}

#hero p {
    background-color: var(--secondary-color);
    color: white;

    font-size: 1.5em;
    padding: 0.5em;

    grid-area: 2/2/3/3;

    border-radius: 1em;
    border: 5px solid var(--accent1-color);
    box-shadow: 5px 5px 10px black;
}

