body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(255, 167, 200);
    text-align: center;
    color: white
}

#quote_head {
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#quote_head:hover {
    color: black;
}

.centered {
    display: block;
    width: 50%;
    margin: 0 auto;
}
 
.not_bold {
    font-weight: normal;
}

#exalt_list {
    display: inline-block;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    padding: 0.5em 0;
}

img {
    width: 5em;
}

#large_quote {
    font-size: 2em;
}

#bottom {
    color: black;
}